
head
	include ../../layout/head
	link(rel='stylesheet' href='https://unpkg.com/swiper/swiper-bundle.css')

body
	include ../../layout/botHeader
	
	.narrow
		p oh hi
		//- just an import:
		include itemMix

		//for i in items
			+itemMix(i.name)

		+itemMix('tooth one')
		+itemMix('ptwo')


		div
			p slider swiper

			.swiper-container
				.swiper-wrapper
					// Slides:
					.swiper-slide Slide 1
					.swiper-slide Slide 2
					.swiper-slide Slide 3
					.swiper-slide Slide 11
					.swiper-slide Slide 22
					.swiper-slide Slide 33
			script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
			script.
				const swiper = new Swiper('.swiper-container', {
					slidesPerView: 3,
					loop: true,
					autoplay: {
						delay: 1500,
						disableOnInteraction: false,
					},
				})

		div 
			p also, use list.js, but no example provided

	include ../../layout/footer